{% autoescape off %}
Merhaba,

AuraLuna sitesi için şifre sıfırlama talebinde bulundunuz. Hesabınızla ilişkili e-posta adresi: {{ email }}

Lütfen yeni bir şifre belirlemek için aşağıdaki bağlantıya tıklayın:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Eğer bu bağlantı çalışmazsa, lütfen adresi kopyalayıp tarayıcınızın adres çubuğuna yapıştırın.

Kullanıcı adınız: {{ user.get_username }}

Eğer şifre sıfırlama talebinde bulunmadıysanız, bu e-postayı görmezden gelebilirsiniz. Şifreniz değiştirilmeyecektir.

Teşekkürler,
AuraLuna Ekibi
{% endautoescape %}