{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5 py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-5 text-center mb-4">Hikayemiz</h1>
            <p class="lead text-center text-muted mb-5">AuraLuna, doğanın saflığını ve ketenin zamansız zarafetini bir araya getirerek, hem şık hem de sürdürülebilir bir giyim deneyimi sunmayı hedefler.</p>

            <p>Yolculuğumuz, basit bir tutkuyla başladı: konforlu, nefes alabilen ve çevreye saygılı kıyafetler yaratmak. Her bir tasarımımızda, minimalist estetiği ve doğal dokuları ön planda tutarak, gardırobunuzda yıllarca keyifle kullanabileceğiniz, modası geçmeyen parçalar sunuyoruz.</p>
            <p>AuraLuna olarak, her detayın bir anlam taşıdığına inanıyoruz. Bu yüzden, kumaş seçiminden dikiş kalitesine kadar her aşamada titizlikle çalışıyoruz. Ürünlerimizde sadece en kaliteli doğal ketenleri kullanarak, hem cildinize hem de gezegenimize iyi bakmayı amaçlıyoruz. Bizimle bu bilinçli ve zarif stil yolculuğuna çıktığınız için teşekkür ederiz.</p>
        </div>
    </div>
</div>
{% endblock content %}